<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用戶自定義的命名空間。 -->
<mapper namespace="spring.mvc.code.ch10.mapper.OrderMapper">

    <resultMap type="spring.mvc.code.ch10.domain.Order" id="orderResultMap">
        <id property="id" column="oid"/>
        <result property="code" column="code"/>
        <result property="total" column="total"/>
        <!-- 多對一關聯映射:association   -->
        <association property="user" javaType="spring.mvc.code.ch10.domain.User">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="loginname" column="loginname"/>
            <result property="password" column="password"/>
            <result property="phone" column="phone"/>
            <result property="address" column="address"/>
        </association>
        <!-- 多對多映射的關鍵:collection   -->
        <collection property="articles" javaType="ArrayList"
                    column="oid" ofType="spring.mvc.code.ch10.domain.Article"
                    select="spring.mvc.code.ch10.mapper.ArticleMapper.selectArticleByOrderId"
                    fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="remark" column="remark"/>
        </collection>
    </resultMap>

    <!-- 注意，如果查詢出來的列同名，例如tb_user表的id和tb_order表的id都是id，同名，需要使用別名區分 -->
    <select id="selectOrderById" parameterType="int" resultMap="orderResultMap">
  	SELECT u.*,o.id AS oid,CODE,total,user_id
  	 FROM tb_user u,tb_order o
  	WHERE u.id = o.user_id
  	 AND o.id = #{id}
  </select>

    <!-- 根據userid查詢訂單 -->
    <select id="selectOrderByUserId" parameterType="int" resultType="spring.mvc.code.ch10.domain.Order">
  	SELECT * FROM tb_order WHERE user_id = #{id}
  </select>


</mapper>