<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用戶自定義的命名空間。 -->
<mapper namespace="spring.mvc.code.ch10.mapper.PersonMapper">

    <!-- 根據id查詢Person，返回resultMap -->
    <select id="selectPersonById" parameterType="int"
            resultMap="personMapper">
  	SELECT * from tb_person where id = #{id}
  </select>

    <!-- 映射Peson對象的resultMap -->
    <resultMap type="spring.mvc.code.ch10.domain.Person" id="personMapper">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <!-- 一對一關聯映射:association   -->
        <association property="card" column="card_id"
                     select="spring.mvc.code.ch10.mapper.CardMapper.selectCardById"
                     javaType="spring.mvc.code.ch10.domain.Card"/>
    </resultMap>

</mapper>