<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- XML 配置文件包含對 MyBatis 系統的核心設置 -->
<configuration>
    <!-- 指定 MyBatis 所用日誌的具體實現 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <environments default="mysql">
        <!-- 環境配置，即連接的數據庫。 -->
        <environment id="mysql">
            <!-- 指定事務管理類型，type="JDBC"指直接簡單使用了JDBC的提交和回滾設置 -->
            <transactionManager type="JDBC"/>
            <!-- dataSource指數據源配置，POOLED是JDBC連接對象的數據源連接池的實現。 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="Enoxs"/>
                <property name="password" value="Rhz0908100!"/>
            </dataSource>
        </environment>
    </environments>
    <!-- mappers告訴了MyBatis去哪裡找持久化類的映射文件 -->
    <mappers>
        <mapper resource="spring/mvc/code/ch8/mapper/UserMapper.xml"/>
    </mappers>
</configuration>